body{
    background-color: rgb(48,48,48);
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(239,235,228);
}

    header{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 33vw;
    }

        header img{
            width: 17%;
        }

    section{
        display: grid;
        grid-auto-flow: column;

        width: 50%;
        margin: auto;
    }